body{
    background: black;

    color: #333;
    text-align: left;
    font-family: "arial";
}
#cabecera{
    background: #88f;
    color: white;
    margin: 0;
    font-weight: bold;
    padding: 0.5em;

    box-shadow: 13px 2px 137px 17px rgba(0,0,0,0.75);
-webkit-box-shadow: 13px 2px 137px 17px rgba(0,0,0,0.75);
-moz-box-shadow: 13px 2px 137px 17px rgba(0,0,0,0.75);
}
#cabecera #logo{
    width: 80px;
    vertical-align: middle;

}

#container{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;   
}

#container h1
{
    font-size: 20px;
}
#post{
    background:white;
    padding: 1em;
}